@model AzureCodeCamp.Models.JoukkoVideo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JoukkoVideo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.path)
    </div>
    <div class="display-field">
        <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
            <script src="http://vjs.zencdn.net/c/video.js"></script>
            <video class="video-js vjs-default-skin" controls
                    preload="auto" width="640" height="480"
                    data-setup="{}">
                <source src="@Html.DisplayFor(model => model.path)" type='video/mp4'>
            </video>
        @Html.DisplayFor(model => model.path)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
