@model IEnumerable<AzureCodeCamp.Models.JoukkoVideo>

@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>

<p>
    @Html.ActionLink("Upload a video", "Create")
</p>
<table>
@foreach (var item in Model) {
    <tr>
        <td>
            <h3>
                @Html.DisplayFor(modelItem => item.title)
            </h3>
            <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
            <script src="http://vjs.zencdn.net/c/video.js"></script>
            <video class="video-js vjs-default-skin" controls
                preload="auto" width="640" height="480"
                data-setup="{}">
                <source src="@Html.DisplayFor(modelItem => item.path)" type='video/mp4'>
            </video>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
