@model AzureCodeCamp.Models.JoukkoVideo

@{
    ViewBag.Title = Model.title;
}

<h2>@Model.title</h2>

<fieldset>
    <legend>JoukkoVideo</legend>

    <div class="video">
        <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <video class="video-js vjs-default-skin" controls
                preload="auto" width="640" height="480"
                data-setup="{}">
            <source src="@Html.DisplayFor(model => model.path)" type='video/mp4'>
        </video>
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.user)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.UserName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.timestamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timestamp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
